@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: wheat;
}
nav {
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Rubik", sans-serif;
  font-family: "Varela Round", sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 0 10px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: #1ed760;
}
.brand img {
  width: 35px;
  padding: 7px 10px;
}

/* main section */
.container {
  min-height: 73vh;
}
.songContainer {
  background-color: black;
  min-height: 60vh;
  width: 75%;
  margin: 25px auto;
  border-radius: 12px;
  color: white;
  padding: 34px;
  background-image: url("bg.jpg");
  font-family: "Varela Round", sans-serif;
}

.songList {
  margin: 0;
  padding: 0;
}
.songItemContainer {
  width: 500px;
  height: 50px;
  background: white;
  color: black;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-weight: 600;
  margin-top: 20px;
}
.songItemContainer img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.songItemContainer i {
  cursor: pointer;
}

/* footer */
.footer {
  position: sticky;
  height: 130px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  bottom: 0;
}
#range {
  width: 80vw;
  cursor: pointer;
}
.icons {
  cursor: pointer;
}
.songInfo {
  position: absolute;
  left: 10%;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  width: 60px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
